{{!-- <footer class="footer">
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="hakkımızda.html">Anasayfa</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="hakkımızda.html">Hakkımızda</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="sss.html">SSS</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="şikayet_formu.html">Şikayet Form</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="users/iletisim">İletişim</a>
        </li>
      </ul>
      <p>&copy;2021 HızlıAlımSatım | Her hakkı saklıdır</p>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
 --}}