{{!-- <nav id="navbar">
      <div class="container2">
        <ul>
          <li><a href="#">Anasayfa</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="/mehmetfurkan/login-register.html">Giriş Yap</a></li>
          <li><a href="/mehmetfurkan/login-register.html">Kayıt Ol</a></li>
        </ul>
      </div>
    </nav> --}}