 body{
    background-image: url("images/about\ background.jpg");
    background-repeat: no-repeat;
    font-family: tahoma;
    text-align: justify;
    overflow: auto;
    
}

#about{
    padding-top: 100px;
    padding-bottom: 101px;
}
#about img{
  position: relative;
  right: -15%;
  width: 90%;

}

#about .triangle-right{
    margin-top: 95px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 470px solid #d6c6b2;
    border-bottom: 259px solid transparent;
    
    
}

#about .triangle-right img{
    position: absolute;
    left: -50px;
    top: 81px;
    width: 74%;
 
}

.fa-play{
    font-size: 100px;
    
}


#about .p-first{
    margin-bottom: 30px;
}


#about h2{
    margin-bottom: 47px;
    margin-top: 12px;
    
}


#about .social-link-text{
    margin-top: 50px;
    margin-bottom: 25px;			
    
}



#about .about-img{
    position: relative;
    margin-left: -6%;
    
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -20px;
    
}

.color-3{
    color: #d6c6b2;
}


.text-white{
    color: rgb(0, 0, 0);
    backdrop-filter: blur(8px);
    font-weight: bold;
}


p{
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #d6c6b2;b
}

.btn-danger{
    border-radius: 0;
    padding: 10px 20px;
}

body {
  background-color: #ff0000;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}
/*butonların siyah şeriti*/
.container2 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/* hizli alim satim yazısı pozisyon*/
.container2 h1 {
  margin-left: 5%;
}
/*logo ve website adı*/
#main-header {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 2%;
  background-position-y: 50%;
  padding: 1%;
  background-color: rgb(207, 55, 0);
  color: #fff;
}
/*navbar başlangıç*/
#navbar {
  background-color: #333;
  color: #fff;
  padding: 0.3%;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar li {
  display: inline;
}
#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 140%;
  padding-left: 20px;
}
/*navbar bitiş*/

  .footer {
    position: relative;
    width: 100%;
    background: #26272b;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
    pointer-events: all;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 20px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
