@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWVAexQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v27/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1x4gaVc.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background-color: #232323;
  background-image: url('images/iletişim_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}


.alfa{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background: #292929;
  min-width: 300px;
  height: 140px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card i {
  color: #d44444;
  font-size: 2rem;
  position: absolute;
  transition: all 0.4s ease;
}

.card-title {
  color: #d44444;
  font-size: 1.2rem;
  text-transform: uppercase;
  transform: translate(0,-80px);
  transition: all 0.4s ease;
}

.card-info {
  color: #fff;
  margin-top: 10px;
  transform: translate(0, 80px);
  transition: all 0.4s ease;
}

.card:hover i {
  transform: scale(2);
  opacity: 0;
}

.card:hover .card-title {
  transform: translate(0, 0);
}
.card:hover .card-info {
  transform: translate(0, 0);
}

@media screen and (max-width: 900px) {
  .card {
    flex: 100%; 
    max-width: 500px;
  }
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact {
  background: rgba(249, 249, 249, 0.85);
  padding: 25px;
  margin: 80px 0;
}
#contact h3 {
  color: #000;
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #000;
  color: #FFF;
  margin: 0 0 5px;
  padding: 25px 10px;
  font-size: 15px;
  text-transform: uppercase;
}
#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
label.error {
  color: darkred;
  padding-left: 10px;
  font-weight: bold;
}
input.error {
  border-color: darkred !important;
}

.footer {
  position: relative;
  width: 100%;
  background: #26272b;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}


.container2 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
#main-header {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 2%;
  background-position-y: 50%;
  padding: 1%;
  background-color: rgb(207, 55, 0);
  color: #fff;
}
h1{
  position: relative;
  right: 395px;
}
/* hizli alim satim yazısı pozisyon*/
.container2 h1 {
  margin-left: 5%;
}
/*logo ve website adı*/
#main-header {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: 10%;
  background-position-x: 2%;
  background-position-y: 50%;
  padding: 1%;
  background-color: rgb(207, 55, 0);
  color: #fff;
}
/*navbar başlangıç*/
#navbar {
  background-color: #333;
  color: #fff;
  padding: 0.3%;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar li {
  display: inline;
}
#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 140%;
  padding-left: 20px;
}

  