.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
body{
  background-color:rgb(40, 57, 101);
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}
.panel-heading {
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel {
    margin-bottom: 20px !important;
    background-color: #ffffff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 15px 16px 13px 8px rgb(4 4 4 / 5%);
}
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: inherit;
    background-color: #e0ffb9;
    text-align: center;
    color: rgb(0, 0, 0);
}

.jumbotron p{
  text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  /* hizli alim satim yazısı pozisyon*/
  .container h1 {
    margin-left: 0%;
    color: rgb(255, 255, 255);
  }
  .container p{
    text-align: center;
  }
  .container .panel-group{
    margin-bottom: 80px;
  }

  
  /*logo ve website adı*/
  #main-header {
    background-size: 10%;
    background-position-x: 2%;
    background-position-y: 50%;
    padding: 1%;
    background-color: rgb(207, 55, 0);
    color: #fff;
  }
  /*navbar başlangıç*/
  #navbar {
    background-color: #333;
    color: #fff;
    padding: 0.3%;
  }
  #navbar ul {
    list-style: none;
    float: right;
  }
  #navbar li {
    display: inline;
  }
  #navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 140%;
    padding-left: 20px;
  }

  /*footer*/

.footer {
    position: relative;
    width: 100%;
    background: #26272b;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  #about img{
    position: relative;
    right: -15%;
    width: 90%;
  
  }

  .container2 {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  /* hizli alim satim yazısı pozisyon*/
  .container2 h1 {
    margin-left: 5%;
  }
  /*logo ve website adı*/
  #main-header {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 2%;
    background-position-y: 50%;
    padding: 1%;
    background-color: rgb(207, 55, 0);
    color: #fff;
  }

  h2{
    color: #26272b;
    font-size: 50px;
  }