.forum {width: 50%;margin:auto;}
.forum > h2 {float: left;width: 100%;font-weight: bold;color: sandybrown;margin: 15px 0 5px 0;font-size: 35px;}
.forum > p {color: rgb(196,59,29);float: left;width: 100%;margin: 0 0 25px 0;font-size: 16px;line-height: 17px;}
.input {float: left;width: 100%;margin-bottom: 20px;}
.input input {float: left;width: 100%;outline: none;border: 1px solid #888;border-radius: 7px;height: 45px;padding-left: 10px;font-size: 16px;}
.input textarea {float: left;width: 100%;outline: none;border: 1px solid #888;height: 100px;padding: 10px;font-size: 16px;resize: none;}
.input > span {float: left;width: 100%;margin: 0 0 3px 0;font-size: 16px;color: sandybrown;}
.input > span > span {color: rgb(255, 47, 0);}
.buton {float: left;width: 100%;}
.buton button {float: left;width: 100%;border: none;outline: none !important;cursor: pointer;font-size: 25px;text-align: center;font-weight: bold;padding: 10px 0;border-radius: 7px;}
body{
    background-color: rgb(40,57,101);
}
button.btn.btn-success{
    margin-bottom:150px ;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  /* hizli alim satim yazısı pozisyon*/
  .container h1 {
    margin-left: 0%;
    color: rgb(255, 255, 255);
  }
  /*logo ve website adı*/
  #main-header {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 2%;
    background-position-y: 50%;
    padding: 1%;
    background-color: rgb(207, 55, 0);
    color: #fff;
  }
  /*navbar başlangıç*/
  #navbar {
    background-color: #333;
    color: #fff;
    padding: 0.3%;
  }
  #navbar ul {
    list-style: none;
    float: right;
  }
  #navbar li {
    display: inline;
  }
  #navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 140%;
    padding-left: 20px;
  }

.footer {
    position: relative;
    width: 100%;
    background: #26272b;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
