<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Hakkımızda</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="hakkımızda.css" />
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <h1>Hızlı Alım Satım</h1>
      </div>
    </header>

    <nav id="navbar">
      <div class="container2">
        <ul>
          <li><a href="#">Anasayfa</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
      <li><a href="#">Giriş Yap</a></li>
      <li><a href="#">Kayıt Ol</a></li>
        </ul>
      </div>
    </nav>
    <section id="about">
      <div class="container2">
        <div class="row">
          <div class="col-md-5">
            <div class="about-img">
              <img
                class="shape"
                src="images/hizlialimsatim logo png.png"
                alt=""
              />

              <img class="man" src="" alt="" />
            </div>
          </div>
          <br />

          {{#each hakkimizda}}
          <div class="col-md-7 about-right">
            <h2 class="color-3"><b>{{this.title}}</b></h2>

            <p class="p-first text-white">
             {{this.text1}}
            </p>
            <p class="text-white">
              {{this.text2}}
            </p>
            <h3 class="color-3 social-link-text">
              <button
                class="btn btn-danger"
                onclick="window.location.href = '/iletisim'"
              >
                İletişime Geçin
              </button>
            </h3>
          </div>
        {{/each}}

        </div>
      </div>
    </section>
    <footer class="footer">
      <ul class="social-icon">
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="social-icon__item">
          <a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Anasayfa</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sss">SSS</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sikayetFormu">Şikayet Form</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/iletisim">İletişim</a>
        </li>
      </ul>
      <p>&copy;2021 HızlıAlımSatım | Her hakkı saklıdır</p>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
