<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>İletişim</title>
  <script src="https://kit.fontawesome.com/fef69fb2c9.js" crossorigin="anonymous"></script><link rel="stylesheet" href="iletişim.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 	
  <meta charset="UTF-8">
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />

</head>
<body>
  <header id="main-header">
    <div class="container">
      <h1>Hızlı Alım Satım</h1>
    </div>
  </header>

  <nav id="navbar">
    <div class="container2">
      <ul>
        <li><a href="#">Anasayfa</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
      <li><a href="#">Giriş Yap</a></li>
      <li><a href="#">Kayıt Ol</a></li>
      </ul>
    </div>
  </nav>
<!-- basla -->
<div class="container">  
  <form id="contact" action="users/iletisim" method="post">
    <h3>İletişim Formu</h3><br>
    <fieldset>
      <input placeholder="İsim" name="İsim" type="text" tabindex="1">
    </fieldset>
    <fieldset>
      <input placeholder="Soyisim" name="Soyisim" type="text" tabindex="2">
    </fieldset>
    <fieldset>
      <input placeholder="Email adresi" name="Emailadresi" type="email" tabindex="3">
    </fieldset>
    <fieldset>
      <input placeholder="Telefon Numarası" name="TelefonNumarası"  type="tel" tabindex="4">
    </fieldset>
    <fieldset>
      <textarea placeholder="Mesajınızı buraya yazınız...." name="Mesaj" type="text" tabindex="5" ></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" >Gönder</button>
    </fieldset>
  </form>
</div>

<div class="alfa" id="a">
  <div class="card">
    <i class="fas fa-envelope"></i>
    <h2 class="card-title"> Mail Adresi</h2>
    <p class="card-info">hizlialimsatim@website.com</p>
  </div>
  <div class="card">
    <i class="fas fa-phone"></i>
    <h2 class="card-title">Telefon Numarası</h2>
    <p class="card-info">+0 000 0000000</p>
  </div>
  <div class="card">
    <i class="fas fa-map-marker-alt"></i>
    <h2 class="card-title">Konum</h2>
    <p class="card-info">Isparta</p>
  </div>
</div>
<!-- footer -->
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-facebook"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-twitter"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-instagram"></ion-icon>
    </a></li>
  </ul>
  <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Anasayfa</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sss">SSS</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sikayetFormu">Şikayet Form</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/iletisim">İletişim</a>
        </li>
      </ul>
      <p>&copy;2021 HızlıAlımSatım | Her hakkı saklıdır</p>
    </footer>
  
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js'></script><script  src="./script.js"></script>

</body>
</html>
