<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ödeme Ekranı</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="robots" content="noindex,follow" />
<link rel="stylesheet" href="ödeme.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Sofia"
    />
    <linkrel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="checkout-panel">
    <div class="panel-body">
      <h2 class="title">Ödeme</h2>

      <div class="progress-bar">
        <div class="step active"></div>
        <div class="step active"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
<form action="odeme/odeme" method="post">
      <div class="payment-method">
        <label for="card" class="method card">
          <div class="card-logos">
            <img src="images/mastercard_logo.png"/>
          </div>

          <div class="radio-input">
            <input id="card" type="radio" name="KartTürü" value="Banka Kartı">
            
          </div>
        </label>

        <label for="paypal" class="method paypal">
          <img src="images/paypal_logo.png"/>
          <div class="radio-input">
            <input id="paypal" type="radio" name="KartTürü" value="Kredi Kartı">
            
          </div>
        </label>
        
      </div>

      <div class="input-fields">
        <div class="column-1">
          <label for="cardholder">Kart Sahibinin Adı</label>
          <input type="text" name="İsim" id="cardholder" />

          <div class="small-inputs">
            <div>
              <label for="date">Geçerlilik Tarihi</label>
              <input type="text" name="Tarih" id="date" placeholder="Ay / Yıl" />
            </div>

            <div>
              <label for="verification">CVV / CVC *</label>
              <input type="password" name="Dogrulama" id="verification"/>
            </div>
          </div>

        </div>
        <div class="column-2">
          <label for="cardnumber">Kart Numarası</label>
          <input type="password" name="KartNumarasi" id="cardnumber"/>

          <span class="info"></span>
        </div>
      </div>
      <div class="new">
          <div class="form-group">
            <input type="checkbox" id="html">
            <label for="html">KARTI KAYDET</label>
          </div>
        
      </div>
    </div>

    <div class="panel-footer">
      <button class="btn back-btn" onclick="window.location.href = '#' " >Geri</button>
      <button class="btn next-btn">Sonraki Adım</button>
    </div>
</form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="ödeme.js"></script>
</body>
</html>