<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Şikayet-Form</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.css'><link rel="stylesheet" href="şikayet_formu.css">

</head>
<body>

  <header id="main-header">
    <div class="container">
      <h1>Hızlı Alım Satım</h1>
    </div>
    </header>
  
    <nav id="navbar">
    <div class="container">
      <ul>
      <li><a href="#">Anasayfa</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
      <li><a href="#">Giriş Yap</a></li>
      <li><a href="#">Kayıt Ol</a></li>
      </ul>
    </div>
    </nav>
<div class="forum">
<br><br><br><h2>Şikayet Talep Formu</h2>

<form action="sikayet/sikayetFormu" method="post">

<div class="input"> 
<br><span>Adınız Soyadınız <span>*</span> </span> 
<input type="text" name="adinizsoyadiniz" >
</div>

  <div class="input">

<span>Telefon Numaranız <span>*</span> </span>
<input type="text" name="telefon" >

</div>
  
  <div class="input">
<span>Şikayetiniz <span>*</span> </span>
<textarea name="sikayet" type="text"></textarea></div>
  
  <div class="buton"><button type="submit" class="btn btn-success">Şikayetimi Gönder</button></div>
</form>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://lipis.github.io/bootstrap-sweetalert/dist/sweetalert.js'></script><script  src="şikayet_formu.js"></script>
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-facebook"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-twitter"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-instagram"></ion-icon>
    </a></li>
  </ul>
  <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Anasayfa</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sss">SSS</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sikayetFormu">Şikayet Form</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/iletisim">İletişim</a>
        </li>
      </ul>
      <p>&copy;2021 HızlıAlımSatım | Her hakkı saklıdır</p>
    </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>

</body>
</html>
