<!DOCTYPE html>
<html lang="tr" >
<head>
  <meta charset="UTF-8">
  <title>SSS</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css'><link rel="stylesheet" href="./sss.css">

</head>
<body>
  <header id="main-header">
    <div class="container">
      <h1>Hızlı Alım Satım</h1>
    </div>
    
    </header>
    
  
    <nav id="navbar">
    <div class="container">
      <ul>
      <li><a href="#">Anasayfa</a></li>
      <li><a href="/hakkimizda">Hakkımızda</a></li>
      <li><a href="#">Giriş Yap</a></li>
      <li><a href="#">Kayıt Ol</a></li>
      </ul>
      
    </div>
    </nav>

{{#each sss}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4">{{this.header}}</h2>
    <p class="lead">{{this.title}}</p>
  </div>
</div>

<br>
<div class="container">
  <div class="row">

    <div class="col-md-12">
      
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                {{this.baslik1}}
              </a>
            </h4>

          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body"><b>{{this.icerik1}}</b>
</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                {{this.baslik2}}
              </a>
            </h4>

          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body"><b>{{this.icerik2}}</b>  </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                {{this.baslik3}}
              </a>
            </h4>

          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body"><b>{{this.icerik3}}</b>  </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                {{this.baslik4}}
              </a>
            </h4>

          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body"><b>{{this.icerik4}}</b>  </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                {{this.baslik5}}
              </a>
            </h4>

          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body"><b>{{this.icerik5}}</b>  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/each}}
<!--footer-->
<footer class="footer">
  <ul class="social-icon">
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-facebook"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-twitter"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-linkedin"></ion-icon>
    </a></li>
    <li class="social-icon__item"><a class="social-icon__link" href="#">
      <ion-icon name="logo-instagram"></ion-icon>
    </a></li>
  </ul>
  <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Anasayfa</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/hakkimizda">Hakkımızda</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sss">SSS</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/sikayetFormu">Şikayet Form</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/iletisim">İletişim</a>
        </li>
      </ul>
      <p>&copy;2021 HızlıAlımSatım | Her hakkı saklıdır</p>
    </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'></script>
</body>
</html>
