<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Müşteri Memnuniyet</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="ürün_değerlendir.css">

</head>
<body>
  <form action="urunDegerlendir/urunDegerlendir", method="post" name="form">
  <h1>Müşteri Memnuniyeti Sayfası</h1>
<div class="rating">

 <input type="radio" name="rating" id="r1" value="5">
 <label for="r1"></label>

 <input type="radio" name="rating" id="r2" value="4">
 <label for="r2"></label>

 <input type="radio" name="rating" id="r3" value="3">
 <label for="r3"></label>

 <input type="radio" name="rating" id="r4" value="2">
 <label for="r4"></label>

 <input type="radio" name="rating" id="r5" value="1">
 <label for="r5"></label>

</div>
<script>
  $("form:radio:checked").val();
</script>

<h2>1 2 3 4 5</h2>

<div id="form-main">
  <div id="form-div">
    
      <section title=".roundedTwo">
        <p>Ürün elime ulaştı.</p>
        <div class="roundedTwo">
          <input type="checkbox"  id="roundedTwo" name="urunGonderildi"/> 
           <label for="roundedTwo"></label>
        </div>

    <script>
         var Myelement = document.getElementById("roundedTwo")
        
        if(Myelement.value == "on"){
        Myelement.value = "evet"
        }
        else if(Myelement.value != "on"){
          Myelement.value = "hayır"
        }
    </script>
      
      <p class="text">
        <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Geri bildirim göndermek isterseniz buraya yazınız..."></textarea>
      </p>    
      <div class="submit">
        <button onclick="myFunction()" type="submit" value="GÖNDER" id="button-blue" name="GONDER"> GONDER</button>
        <div class="ease"></div>
      </div>
    </form>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
